<!doctype html>

<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="GitHubActivityTrackerApp">
    <h1>Gitactive</h1>

    <section class="search" ng-controller="UserInputController">
        <input type='text' placeholder="Enter Username" ng-model="user_input">
        <button class='myButton' ng-click="add()">GO</button>
    </section>

    <section>
        <ul ng-controller='UserListController'>
            <user ng-repeat='user in users' which='user'></user>
        </ul>
    </section>  
</body>

</html>